<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <form action="/add_course" method="post">
            {% csrf_token %}
            <table>
                <tr>
                    <h2>Add a new Course</h2>
                </tr>
                <tr>
                    <td>
                        Name: <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Description:</p> <textarea name="description" rows="8" cols="80"></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </table>
        </form>
            <table>
                <tr>
                    <th>Courses</th>
                    <th>Description</th>
                    <th>Date Added</th>
                    <th>Actions</th>
                </tr>
                {% for course in courses%}
                <tr>
                    <td>{{ course.name }}</td>
                    <td> {{ course.description }}</td>
                    <td>{{ course.created_at }}</td>
                    <td><form action="/courses/{{course.id}}" method="get">
                        <input type="submit" value="Remove">
                    </form></td>
                </tr>
                {% endfor %}
            </table>
    </body>
</html>
